*{margin: 0;
padding: 0;}

section{background-color: gray;
width: 20vw;
margin: 10px auto;
padding: 10px;
}
h1{color: white;}
div{background-color: orange;
    width: 100px;
    height: 100px;
    margin: 7px;}
